.paragraphs {
  max-width: 39em;
  padding: 1.5em 0;
  position: absolute;
  margin-left: -0.5em;

  @media only screen and (max-width: 1280px) {
    max-width: 35em;
  }
}

.paragraph {

  margin: 0 0 5%;
  padding: 2.5%;
  border-left: 5px solid $cyan;

  &.paragraph-middle {
    width:85%;
    border-left-color: $yellow;
  }

  &.paragraph-bottom {
    width:75%;
    border-left-color: $red;
  }

  .paragraph-link {
    color: $gray;
  }

}
