.view {
  width: 100%;
  position:absolute;
  right:-9000px;
  transition: opacity 0.5s ease;
  opacity:0;
  font-size: 0.95em;
  line-height: 1.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  &:target {
    right:0;
    opacity: 1;
  }
}

@import './_about';
@import './_work';
