.view {
  position:absolute;
  top:0; left:0;
  height: 100%;
  width:100%;
  font-size: 0.95em;
  line-height: 1.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.view-subview {
  height: calc(100% - 0.5em);
  width:100%;
  position:relative;
  display:none;
  opacity:0;

  &:target {
    display:block;
    opacity: 1;
    animation: display-fade 0.5s ease;
  }
}

@import './_about';
@import './_work';
