@keyframes fold-out {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.view {
  position:absolute;
  top:0; left:0;
  width: calc(100vw - 1em);
  height: calc(100vh - 1em);
  margin: 0.5em;
  font-size: 0.95em;
  line-height: 1.8em;
  font-family: helvetica neue;
  font-weight: 300;
  z-index:-1;
}

.view-subview {
  left:-9999px;
  opacity:0;
  transition: opacity 0.5s ease;

  &:target {
    left:0px;
    display:block;
    opacity: 1;
  }
}

@import './_about';
@import './_work';
