@keyframes box-shadow-out {
  0% {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3) inset;
  }
  100% {
    box-shadow: none;
  }
}

.view-subview-work {
  overflow-y: scroll;
  overflow-style:none;
  margin-bottom:0.5em;
}

.work-view-container {
  z-index: 1;
  position:absolute;
  top:0;
  right:1em;
  width: 50vw;
  min-width: 36em;
  transition: transform 0.5s ease 0.25s;
  transform: scaleY(0);
  transform-origin: top left;
  background: rgba(0, 0, 0, 0.80);
  border-radius: 0 0 0.5em 0.5em;

  .view-subview:target & {
    transform: scaleY(1);
  }

}

.work-view-nav {
  padding: 0;
  list-style: none;
  text-align: center;
  .no-js & {
    display:none;
  }
}

.work-view-nav-link {
  padding: 1em;
  width: calc((100% - 6 * 1em) / 3);
  display:inline-block;
  margin-left:-5px;
  border-top: 5px solid darken($gray, 30%);
  transition: border-top-color 0.2s;
  user-select: none;
  cursor: pointer;
  position:relative;

  &:first-child {
    margin-left: 0;
  }

  &.selected {
    animation: box-shadow-out 0.2s ease-out;

    &:after, &:before {
      content: "";
      position: absolute;
      height: 100%;
      bottom: 0;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.28) inset;
      z-index: -1;
    }

  }

}

@mixin work-view-nav-link-border-top($color, $darken: 15%) {
  border-top-color: darken($color, $darken);
  &:hover { border-top-color: $color; }
  &.selected { border-top-color: $color; }
}

.work-view-nav-link-web {
  @include work-view-nav-link-border-top($cyan);
}

.work-view-nav-link-video {
  @include work-view-nav-link-border-top($yellow, 40%);
}

.work-view-nav-link-other {
  @include work-view-nav-link-border-top($red, 30%);
}

.work-view-nav-link.work-view-nav-link-web.selected {
  &:after { width: 200%; right: -200%; border-radius: 0 0 0 0.5em; }
  &:before { display:none; }
}

.work-view-nav-link.work-view-nav-link-video.selected {
  &:after { width: 100%; right: -100%; border-radius: 0 0 0 0.5em; }
  &:before { width: 100%; left: -100%; border-radius: 0 0 0.5em; }
}

.work-view-nav-link.work-view-nav-link-other.selected {
  &:after { width: 200%; left: -200%; border-radius: 0 0 0.5em; }
  &:before { display:none; }
}

.work-view {
  padding: 1em;
  display:none;
  opacity:0;

  &.active {
    display:block;
    opacity: 1;
    animation: display-fade 0.5s;
  }

  .no-js & {
    display:block;
    opacity: 1;
  }
}

.work-view-description {
  p:first-child {
    margin-top:0;
  }
}

.work-view-links-subview {
  color:$gray;
  padding: 0 1.5em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==");
  .no-js & {
    display:none;
  }
}

.work-view-links-subview-item {

  &:hover {
    cursor:pointer;
    user-select:none;
    color: $white;
  }

  &.selected {
    color: $white;
    font-weight: 600;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC");
  }
}

.work-view-subview {
  > * { padding: 0.5em; }
}

.work-view-subview-item {
  display:none;

  &.active {
    display: block;
    animation: display-fade 0.5s;
  }

  .no-js & {
    display: block;
  }

  iframe {
    width:100%;
  }
}

.separator {
  border-color:#3F3F3F;
  margin: 1.25em 0;
}

.preview-title {
  margin: -0.5em 0 0em;
  font-weight:bold;
}

.preview-keywords {
  margin: 0;
}

.preview-keywords-title {
  color: $gray;
}

.preview-content {
  margin-top: 0.5em;
  text-align:justify;
}

.preview-image-container {
  margin: 0.25em 0.5em 0 0;
  float:left;
}

.preview-video-container {
  width:100%;
}

.preview-image {
  width: 15em; height: 8.4375em;
  background: transparent top left no-repeat;
  background-image: url(static/images/work.jpg);
  box-shadow: 0px 0px 6px black inset;
  display:block;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }

  .kotivinkki & { background-position: 0 0; }
  .duckhunt & { background-position: 20% 0; }
  .wtf-helsinki & { background-position: 40% 0; }
  .new-media-aalto & { background-position: 60% 0; }
  .new-media-aalto &:first-child { background-position: 80% 0; }
  .aegee & { background-position: 100% 0; }
}

.work-view-subview-other {
  > * {
    margin-top: 0.5em;
    &:first-child { margin-top: 0; }
    .preview-content { margin-top:0.25em; }
  }
}

.aegee-links {
  margin: 0.5em 0 0;
  clear: both;
}

.password-note {
  font-weight: bold;
  text-align: center;
}

.password-note-word {
  color: $red;
}

.su-2012-logos {
  width: 13em;
  float: left;
  margin: 0.5em 0.75em 0 0;
}
