.banner {
  width:100%;
  position:absolute;
  transition: transform 1s ease;
  transform: translate3d(0, 10vh, 0);

  &.banner-down {
    transform: translateY(95vh) translateY(-10em); // Because of calc not working properly in IE
  }

  .no-js & {
    bottom: 15%;
  }
}
