.banner {
  width:100%;
  position:absolute;
  transition: transform 1s ease;
  transform: translate3d(0, 10vh, 0);

  &.banner-down {
    transform: translate3d(0, calc(95vh - 10em), 0);
  }

  .no-js & {
    bottom: 15%;
  }
}
