@keyframes face-rotate-out {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@keyframes face-rotate-in {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.face-container {
  display:block;
  position:relative;
  width: 10em;
  height: 10em;
  margin-left: calc(37.5% - 5em);
  z-index: 1;
  animation: fade-in 1s forwards, move-in-from-above 0.75s ease-out;
  background-color: white;
  border-radius: 100%;
}

.face {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url($face-picture);
  position: absolute;
  top: 0;
}

.face-secondary {

  &.animation-face-counter-clockwise {
    animation: face-rotate-out 0.75s;
  }

  &.animation-face-clockwise {
    animation: face-rotate-in 0.75s reverse;
  }

  &.animation-face-fade {
    animation: fade-in 0.75s forwards reverse;
  }

}

.face-primary {

  &.animation-face-counter-clockwise {
    animation: face-rotate-in 0.75s;
  }

  &.animation-face-clockwise {
    animation: face-rotate-out 0.75s reverse;
  }

}

.face-state-home {
  background-position-x: 0%;
}

.face-state-work {
  background-position-x: 31.75%;
}

.face-state-about {
  background-position-x: 63%;
  &.face-primary, &.face-secondary {
    .face-thumb { opacity:1; }
  }
}

.face-thumb {
  background-position-x: 100%;
  padding: 2em;
  top: -8px;
  left: 13px;
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  opacity: 0;
}
