@keyframes animation-intro {
  0% {
    transform: scale(0.5) translate3d(-4em, 2em, 0);
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes roll-out {
  100% {
    transform: translate3d(-7em, -3em, 0) rotate(-70deg)
  }
}

.intro {
  position:absolute;
  width:100%;
  font-size:1.5em;
  user-select:none;
  cursor: default;
  text-shadow: 1px 1px rgb(70, 92, 115);
  transition: opacity 0.5s ease-in;
  top:17.5%;
  left:45%;
  transform-origin:left bottom;

  .no-js & {
    display:none;
  }
}

.animation-intro-start {
  opacity: 0;
  animation: animation-intro 0.5s 1.75s forwards;
}

.animation-intro-end {
  transform-origin: top left;
  animation: fade-in 0.4s reverse forwards, roll-out 0.5s ease-in;
}
