.navbar {
  position: absolute;
  top: 0;
  color: #bbb;
  width: 100%;
  height: 100%;
}

.site-links {

  width: 37.5%;
  padding: 0.5em 0;
  text-align:center;

  &.right-handed {
    transform: translateY(125px);
  }

  .link-item-container {
    margin-left:-15%;
  }

  .link-item a:hover {

    .icon-user { color: $cyan; }
    .icon-work { color: $yellow; }

  }

}

.navbar-item {
  opacity:0;
  background: rgba(0, 0, 0, 0.25);
  animation: fade-in 1s 0.6s forwards;
  transition: transform 0.8s, background-position 0.5s;
  transform: translateY(0);
  border-bottom: 1px solid;
}

$bg-color-about: rgb(190, 190, 190);
$bg-color-work: rgb(17, 38, 60);
$bg-color-home: rgb(87, 114, 135);

.navbar-item-bg-left {
  background: linear-gradient(-45deg, $bg-color-about, rgba(darken($bg-color-about, 10%), 0.7) 5%, transparent 99%),
              linear-gradient(-45deg, $bg-color-work, rgba($bg-color-work, 0.6) 15%, transparent 99%),
              linear-gradient(-45deg, $bg-color-home, rgba($bg-color-home, 0.7) 5%, transparent 95%);
}

.navbar-item-bg-right {
  background: linear-gradient(90deg, $bg-color-about, rgba($bg-color-about, 0.6) 5%, transparent 99%),
              linear-gradient(90deg, $bg-color-work, rgba($bg-color-work, 0.6) 15%, transparent 99%),
              linear-gradient(90deg, $bg-color-home, rgba($bg-color-home, 0.7) 5%, transparent 95%);
}

.navbar-item-bg {
  background-size: 100%;
  background-repeat-y: no-repeat;
  background-position-x: 0;
}

.navbar-item-bg-state-about {
  border-bottom-color: rgba(0, 0, 0, 0.45);
  background-position-y: 0, 35px, -35px;
}

.navbar-item-bg-state-work {
  border-bottom-color: #0B1822;
  background-position-y: 35px, 0, -35px;
}

.navbar-item-bg-state-home {
  border-bottom-color: #3F575C;
  background-position-y: -35px, 35px, 0;
}
