.social-links {
  padding: 0.5em 0;
  width: 62.5%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;

  &.right-handed {
    transform: translateY(-125px);
  }

  .link-item-container {
    margin-right: 15%;
  }

}
