$white: #eee;
$background-image-home: "static/images/laptop.jpg";
$background-image-about: "static/images/cincinnati.jpg";
$background-image-work: "static/images/ammersee.jpg";
$face-picture: "static/images/faces.png";
// $face-picture-about: "static/images/me.jpg";
// $face-picture-work: "static/images/me2.jpg";
