{{#layout}}
    <div id="js-background-primary" class="background background-state-home"></div>
    <div id="js-background-secondary" class="background background-transition background-state-home"></div>
    {{>intro}}
    {{>banner}}
{{/layout}}

