<a href="#home" id="js-face" class="face-container">
    <div id="js-face-primary" class="face face-primary face-state-home">
        <div id="js-face-thumb" class="face face-thumb"></div>
    </div>
    <div id="js-face-secondary" class="face face-secondary face-state-home">
        <div id="js-face-thumb" class="face face-thumb"></div>
    </div>
</a>
