<div class="footer">

    <div class="contact">
        <span class="link-item twitter">
            <i class="icon icon-twitter"></i>
            <a href="https://twitter.com/mraatikka" target="_blank">&nbsp;mraatikka</a>
        </span>
        <span class="link-item gmail">
            <i class="icon icon-mail"></i>
            <a href="mailto:marko.raatikka@gmail.com">&nbsp;marko.raatikka@gmail.com</a>
        </span>
    </div>

</div>
