<nav class="navbar">

    <div id="js-site-links" class="site-links">

    <div class="link-item-container">
        <span class="link-item">
            <i class="icon icon-user"></i>
            <a href="#about">About me</a>
        </span>

        <span class="link-item">
            <i class="icon icon-quill"></i>
            <a href="#work">My Work</a>
        </span>
    </div>

    </div>

    {{>social}}
</nav>
