<div class="link-item-container">
    <span class="link-item github">
        <i class="icon icon-github"></i>
        <a class="social-link" href="https://github.com/mmrko" target="_blank">github</a>
    </span>

    <span class="link-item linkedin">
        <i class="icon icon-linkedin"></i>
        <a class="social-link" href="https://linkedin.com/in/mraatikka" target="_blank">linkedin</a>
    </span>

    <span class="link-item flickr">
        <i class="icon icon-flickr"></i>
        <a class="social-link" href="https://www.flickr.com/photos/mak33/" target="_blank">flickr</a>
    </span>

</div>

