<div class="link-item-container">
    <span class="link-item github">
        <a class="social-link" href="https://github.com/mmrko" target="_blank">
            <i class="icon icon-github"></i>&nbsp;github
        </a>
    </span>

    <span class="link-item linkedin">
        <a class="social-link" href="https://linkedin.com/in/mraatikka" target="_blank">
            <i class="icon icon-linkedin"></i>&nbsp;linkedin
        </a>
    </span>

    <span class="link-item flickr">
        <a class="social-link" href="https://www.flickr.com/photos/mak33/" target="_blank">
            <i class="icon icon-flickr"></i>&nbsp;flickr
        </a>
    </span>

</div>

