<div id="work" class="view-subview view-subview-work">

    <div class="view-subview-work-container">

        <nav id="js-navigation-work" class="navigation-work">
            <span class="navigation-work-link navigation-work-link-web selected" data-work-view="web">Web</span>
            <span class="navigation-work-link navigation-work-link-video" data-work-view="video">Video</span>
            <span class="navigation-work-link navigation-work-link-other" data-work-view="other">Other</span>
        </nav>

        <div class="navigation-work-item active" data-work-view="web">
        {{>views/work/web}}
        </div>

        <div class="navigation-work-item" data-work-view="video">
        <p>ksdkakkkkaka kakak kak akak sjdjak jkasj dkas jk</p>
        </div>

        <div class="navigation-work-item" data-work-view="other">
        <p>asdas asd kaskd ajskkas djas dkjakjd jka</p>
        </div>

    </div>

    <div class="background-comment">
        Taking a swim in Ammersee, Munich, Germany
    </div>

</div>
