<div id="work" class="view-subview view-subview-work">

    <div id="js-work-view-nav" class="work-view-container">

        <nav class="work-view-nav">
            <span class="work-view-nav-link work-view-nav-link-web selected" data-work-view-href="web">Web</span>
            <span class="work-view-nav-link work-view-nav-link-video" data-work-view-href="video">Video</span>
            <span class="work-view-nav-link work-view-nav-link-other" data-work-view-href="other">Other</span>
        </nav>

        <div class="work-view active" data-work-view-name="web">
            {{>views/work/web}}
        </div>

        <div class="work-view" data-work-view-name="video">
            {{>views/work/video}}
        </div>

        <div class="work-view" data-work-view-name="other">
            {{>views/work/other}}
        </div>

    </div>

    <span class="background-comment">
        Taking a swim in Ammersee, Munich, Germany
    </span>

</div>
