Here are a few projects I've worked on during the past couple of years:

<ul class="navigation-work-item-list">
    {{#each page.work.web}}
    <li class="navigation-work-item-list-item">{{this.title}}</li>
    {{/each}}
</ul>


