<div id="about" class="view-subview view-subview-about">

    <div class="paragraphs">
        <p class="paragraph text-background">Hi, I'm Marko &mdash; a web developer from Espoo, Finland with an organizer's mindset, passion for the industry, tendency for perfectionism and a bad habit of trying to introduce oneself in just a sentence.
        </p>

        <p class="paragraph paragraph-middle text-background">As I'm soon finishing my master's degree on Media Technology at <a class="paragraph-link" href="http://sci.aalto.fi/en/" target="_blank">Aalto SCI</a> I'm eagerly looking for new opportunities. Lately I've gotten more involved in OSS development. I hope to contribute back to the community when I find the time (still searching).
        </p>

        <p class="paragraph paragraph-small text-background">
            Examples of my proudest &amp; less proud work can be found under <a class="paragraph-link" href="#work">My Work</a>. For my favorite developer mantra I'll quote <a class="paragraph-link" href="http://addyosmani.com/" target="_blank">Addy Osmani</a>: <i>&ldquo;First do it, then do it right, then do it better&rdquo;</i>.
        </p>

    </div>

    <div class="background-comment">
        Thumbs up at Cincinnati Reneissance Festival, Harveysburg, Ohio
    </div>

</div>
