<div id="about" class="view view-about">

    <div class="paragraphs">
        <p class="paragraph text-background">Hi, welcome to my site! I'm Marko &mdash; a web developer from Espoo, Finland with an organizer's mindset and a passion for all things web. I follow the web community actively trying to keep up with the bleeding edge. I'm 50% perfectionist, 50% pragmatic and 100% proactive person :) My secret ability is being able to shuffle cards with one hand (yes, I have too much free time).
        </p>

        <p class="paragraph paragraph-middle text-background">As I'm soon finishing my master's degree on Media Technology at <a class="link" href="http://sci.aalto.fi/en/" target="_blank">Aalto SCI</a> I'm eagerly looking forward to new opportunities. Lately I've gotten more involved in OSS development. I hope to keep contributing back to the community whenever I find the time (still searching).
        </p>

        <p class="paragraph paragraph-bottom text-background">
            Examples of my proudest &amp; less proud work can be found under <a class="link" href="#work">My Work</a>. For my favorite developer mantra I'll quote <a class="link" href="http://addyosmani.com/" target="_blank">Addy Osmani</a>: <i>&ldquo;First do it, then do it right, then do it better&rdquo;</i>.
        </p>

    </div>

    <span class="background-comment">
        Thumbs up at Cincinnati Reneissance Festival, Harveysburg, Ohio
    </span>

</div>
